<%# 产品信息 %>
<!-- section: products -->
<section id="products" class="section hidden">
    <div class="container clearfix">
        <h4>Our products</h4>
        &lt;!&ndash; portfolio filter &ndash;&gt;
        <div class="row">
            <div id="filters" class="span12">
                <ul class="clearfix">
                    <li><a href="#" data-filter="*" class="active">
                        <h5>All</h5>
                    </a></li>
                    <li><a href="#" data-filter=".web">
                        <h5>Web</h5>
                    </a></li>
                    <li><a href="#" data-filter=".print">
                        <h5>Print</h5>
                    </a></li>
                    <li><a href="#" data-filter=".design">
                        <h5>Design</h5>
                    </a></li>
                    <li><a href="#" data-filter=".photography">
                        <h5>Photography</h5>
                    </a></li>
                </ul>
            </div>
            &lt;!&ndash; END PORTFOLIO FILTERING &ndash;&gt;
        </div>
        <div class="row">
            <div class="span12">
                <div id="portfolio-wrap">
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid print photography">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/1.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid print design web">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/2.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid print design">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/3.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/4.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/5.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/6.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/7.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid photography">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/8.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid photography web">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/9.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                    &lt;!&ndash; portfolio item &ndash;&gt;
                    <div class="portfolio-item grid design web">
                        <div class="portfolio">
                            <a href="../public/img/products/big.jpg" data-pretty="prettyPhoto[gallery1]"
                               class="portfolio-image">
                                <img src="../public/img/products/10.png" alt=""/>
                                <div class="portfolio-overlay">
                                    <div class="thumb-info">
                                        <h5>Portfolio name</h5>
                                        <i class="icon-plus icon-2x"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    &lt;!&ndash; end portfolio item &ndash;&gt;
                </div>
            </div>
        </div>
    </div>
</section>
&lt;!&ndash; spacer section &ndash;&gt;
<section class="spacer bg3">
    <div class="container">
        <div class="row">
            <div class="span12 aligncenter flyLeft">
                <blockquote class="large">
                    We are an established and trusted web agency with a reputation for commitment and high integrity
                </blockquote>
            </div>
            <div class="span12 aligncenter flyRight">
                <i class="icon-rocket icon-10x"></i>
            </div>
        </div>
    </div>
</section>